html{
	height: 100%;
}

body{
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #6c7680;
	height: 100%;
	box-sizing: border-box;
	padding-top: 80px; 
}

a{
	color: #6c7680;
	text-decoration: none;
}

a:hover{
	color: black;
}

/*hex# 0123457789abcdef*/
/*rgb(255,255,255)*/

header{
	/*для того чтобы скрыть float*/
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	height: 80px;
	background: rgba(255,255,255,0.8);
}

header > *{
	float: left;
}

header > .logo{
	width: 20%;
}

header > nav{
	width: 80%;
}

header > nav > ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

header > nav > ul > li{
	display: inline-block;
}

header > nav > ul > li > a{
	font-size: 16px;
	text-transform: uppercase;
	line-height: 80px;
}

section, #home{
	height: 100%;
}

#home{
	background: url(images/desktop_home_02.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
/**/




