html {
	height:100%;
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #6c7680;
	height: 100%;
	box-sizing: border-box;
	padding-top:80px;
	z-index:1;
}
a {
	color: #6c7680;
	text-decoration: none;
}
a:hover {
	color:#000;
}

.list-unstyled{
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-inline > li {
	display: inline-block;
}

.img-responsive{
	display: block;
	width: 100%;
	height: auto;
}

header {
	/*Скрыть float*/
	position:fixed;
	width:100%;
	top:0;
	overflow: hidden;
	height: 80px;
	background:rgba(255, 255, 255, 0.8);
	z-index:200;
}
header > * {
	float: left;
}
header > .logo {
	width: 20%;

}


header > nav {
	width: 80%;
}


header > nav > ul > li > a {
	font-size: 16px;
	text-transform: uppercase;
	line-height: 80px;
}

section, #home {
	height:100%;

}
#home {
	background:url(images/desktop_home_02.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	
}


.socials {
	position:absolute;
	bottom:0;
	width:100%;
	height:50%;
	text-align:center;
	/*padding:0;*/
	/*margin:0;*/
	background:rgba(255, 255, 255, 0.5);
}

.socials>li {
	border: 2px solid #687781;
	width: 111px;
	height: 111px;
	border-radius: 50%;
	padding:0;
	margin:20px 10px;
}
.icons {
	line-height: 111px;
	/*display:block;
	padding:50px;*/
}
#work {
	height:100%;
	position:relative;
	/*text-align:center;*/
}
.portfolio {
	position:absolute;
	top:-100px;
	width: 70%;
	/*font-size:0;
	line-height:0;*/
	
	}

.portfolio>li{
	float: left;
	display:list-item;
	/*padding:0;
	margin:0;*/
	width: 33.3%;
}

.portfolio>li:nth-child(3n+1){
	clear: both;
}

.portfolio li > a{
	font-size: 0;
	line-height: 0;
}

.content{
	width: 70%;
	margin: 0 auto;
}

