html {
	height:100%;
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #6c7680;
	height: 100%;
	box-sizing: border-box;
	padding-top:80px;
	z-index:1;
}
a {
	color: #6c7680;
	text-decoration: none;
}
a:hover {
	color:#000;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.list-unstyled{
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-inline > li {
	display: inline-block;
}

.img-responsive{
	display: block;
	width: 100%;
	height: auto;
}

header {
	/*Скрыть float*/
	position:fixed;
	width:100%;
	top:0;
	overflow: hidden;
	height: 80px;
	background:rgba(255, 255, 255, 0.8);
	z-index:200;
}
header > * {
	float: left;
}
header > .logo {
	width: 20%;

}


header > nav {
	width: 80%;
}


header > nav > ul > li > a {
	font-size: 16px;
	text-transform: uppercase;
	line-height: 80px;
}

section, #home {
	height:100%;

}
#home {
	background:url(images/desktop_home_02.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	
}


.socials {
	position:absolute;
	bottom:0;
	width:100%;
	height:30%;
	text-align:center;
	/*padding:0;*/
	/*margin:0;*/
	background:rgba(255, 255, 255, 0.5);
}

.socials>li, .load_more {
	border: 2px solid #687781;
	width: 85px;
	height: 85px;
	border-radius: 50%;
	padding:0;
	margin:20px 10px;
}
.icons {
	line-height: 85px;
	/*display:block;
	padding:50px;*/
}
#work {
	min-height:100%;
	/*height: calc(100% + 100px);*/
	position:relative;

}
.portfolio {
	position:absolute;
	top:-10%;
	width: 100%;
	/*font-size:0;
	line-height:0;*/
	
	}

.portfolio ul{
	overflow: hidden;
}

.portfolio ul>li{
	float: left;
	display:list-item;
	/*padding:0;
	margin:0;*/
	width: 33.3%;
}

.portfolio ul>li:nth-child(3n+1){
	clear: both;
}

.portfolio ul>li > a{
	font-size: 0;
	line-height: 0;
}

.content{
	width: 70%;
	margin: 0 auto;
	
}
.load_more {
	/*position: absolute;*/
	/*bottom: 0;*/
	text-align:center;
	margin: 30px auto;
	/*left: 50%;*/
	/*margin-left: -55.5px;*/
}
#testimonials{
	background:url(images/background.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	
}
.face {
	/*margin-top: 30%;*/
	display: block;
	height: 500px;
	/*width: 100%;*/
	text-align: center;
}
.face >ul>p {
	margin:auto;
	text-align: center;
	width: 70%;
	padding-top: 40px;
	padding-bottom: 40px;
}

.points {
	display: inline;
}

